<a href="https://colab.research.google.com/github/Isac999/pandas/blob/main/data01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas 
!pip install seaborn #exibir gráficos

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.5)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
!wget https://www.dropbox.com/s/5403setq8hae6ty/diabetes.csv?dl=0

--2022-02-25 17:43:41--  https://www.dropbox.com/s/5403setq8hae6ty/diabetes.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5403setq8hae6ty/diabetes.csv [following]
--2022-02-25 17:43:41--  https://www.dropbox.com/s/raw/5403setq8hae6ty/diabetes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com/cd/0/inline/Bgb49T-12pY3X8hTPQMQth8qSuJQPQqxenQeI25OnbH2c-ZN116Mdc11OrdqNGZlrhtOG2t9pCbkKqVHTc1SklvW2MjDq-E7Euf4pUwFfmot51oKo2SbVMFv-veCqFW2NzPdGyWbNVJYdjdbxK9Jd2Hh/file# [following]
--2022-02-25 17:43:41--  https://uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com/cd/0/inline/Bgb49T-12pY3X8hTPQMQth8qSuJQPQqxenQeI25OnbH2c-ZN116Mdc11OrdqNGZlrhtOG2t9pCbkKqVHTc1SklvW2MjDq-E7Euf4pUwFfmot51oKo2SbVMFv-veCqFW2NzPdGyWbNVJYdjdbxK9Jd2Hh/file
Resolving uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com (uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com (uc7a7e742a8f6745d4d76e4353de.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23873 (23K) [text/plain]
Saving to: ‘diabetes.csv?dl=0’

diabetes.csv?dl=0   100%[===================>]  23.31K  --.-KB/s    in 0.007s

2022-02-25 17:43:42 (3.08 MB/s) - ‘diabetes.csv?dl=0’ saved [23873/23873]

In [ ]:
data_frame = pd.read_csv('/content/diabetes.csv?dl=0')
data_frame
#data_frame.head() #Mostra as primeiras 5 linhas

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#data_frame["Insulin"][4] #Elemento da posição 5
#data_frame["BMI"][:-30] #Ultimos 30 registros da coluna BMI
#data_frame["Age"][:10] #Primeiros 10 elementos da coluna AGE

In [ ]:
"""for b in data_frame["Age"]:
  if b >= 30: #Printar os dados maiores que 30
    print(b)"""
data_frame.loc[data_frame["BMI"] >= 30]["BMI"] #Selecionar os dados maiores que 30

0      33.6
4      43.1
6      31.0
7      35.3
8      30.5
       ...
761    44.0
763    32.9
764    36.8
766    30.1
767    30.4
Name: BMI, Length: 472, dtype: float64

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data_frame = data_frame.rename(columns={
    "Pregnancies": "gravidezes",
    "Glucose": "glicose",
    "BloodPressure": "pressão_sangue",
    "SkinThickness": "espessura_pele",
    "Insulin": "insulina",
    "BMI": "imc",
    "DiabetesPedigreeFunction": "func_historico_familia",
    "Age": "idade",
    "Outcome": "diabetico"
})
data_frame[["gravidezes", "glicose"]]

     gravidezes  glicose
0             6      148
1             1       85
2             8      183
3             1       89
4             0      137
..          ...      ...
763          10      101
764           2      122
765           5      121
766           1      126
767           1       93

[768 rows x 2 columns]

In [ ]:
result = 0
for b in data_frame["idade"]:
  result = result + b
media_idade = result/len(data_frame["idade"])
media_idade

#ou usar data_frame["idade"].mean()

33.240885416666664

In [ ]:
data_frame["pressão_sangue"].nlargest(5) #5 maiores values

106    122
691    114
43     110
177    110
549    110
Name: pressão_sangue, dtype: int64

In [ ]:
result = 0
for b in data_frame["insulina"]:
  result += b
media_insulina = result/len(data_frame["insulina"])
media_insulina

79.79947916666667

In [ ]:
result = 0
for b in data_frame["glicose"]:
  result += b
media_glicose = result/len(data_frame["glicose"])
media_glicose

120.89453125

In [ ]:
data_frame["idade"].mode() #moda
#ou data_frame["idade"].value_counts()

0    22
dtype: int64

In [ ]:
data_frame["gravidezes"].nlargest(1)

159    17
Name: gravidezes, dtype: int64

In [ ]:
data_frame["gravidezes"].nsmallest(5) #menores values

4     0
16    0
45    0
57    0
58    0
Name: gravidezes, dtype: int64

In [ ]:
new_ins = data_frame.loc[data_frame["insulina"] >= media_insulina]
new_gli = data_frame.loc[data_frame["glicose"] >= media_glicose]

ins_false = len(new_ins.loc[data_frame["diabetico"] == 0])
ins_true = len(new_ins.loc[data_frame["diabetico"] == 1])
total_ins = ins_false + ins_true 
percentual_false_ins = (ins_false*100)/total_ins
percentual_true_ins =  100 - percentual_false_ins
print(f"Não diabeticos(insulina): {percentual_false_ins} \nDiabéticos(insulina): {percentual_true_ins}")

gli_false = len(new_gli.loc[data_frame["diabetico"] == 0])
gli_true = len(new_gli.loc[data_frame["diabetico"] == 1])
total_gli = gli_false + gli_true
percentual_false_ins = (gli_false*100)/total_gli
percentual_true_ins = 100 - percentual_false_ins
print(f"Não diabeticos(glicose): {percentual_false_ins} \nDiabéticos(glicose): {percentual_true_ins}")

Não diabeticos(insulina): 58.13148788927336
Diabéticos(insulina): 41.86851211072664
Não diabeticos(glicose): 44.126074498567334
Diabéticos(glicose): 55.873925501432666

In [ ]:
data_frame["gravidezes"].min(), data_frame["gravidezes"].max()
#valores mínimos e máximos

(0, 17)

In [ ]:
print(data_frame.shape) #linhas, colunas
print(data_frame.columns) #nome das colunas

(768, 9)
Index(['gravidezes', 'glicose', 'pressão_sangue', 'espessura_pele', 'insulina',
       'imc', 'func_historico_familia', 'idade', 'diabetico'],
      dtype='object')

In [ ]:
data_frame.describe #descrição geral do dataset

<bound method NDFrame.describe of      gravidezes  glicose  ...  idade  diabetico
0             6      148  ...     50          1
1             1       85  ...     31          0
2             8      183  ...     32          1
3             1       89  ...     21          0
4             0      137  ...     33          1
..          ...      ...  ...    ...        ...
763          10      101  ...     63          0
764           2      122  ...     27          0
765           5      121  ...     30          0
766           1      126  ...     47          1
767           1       93  ...     23          0

[768 rows x 9 columns]>

In [ ]:
data_frame.corr

<bound method DataFrame.corr of      gravidezes  glicose  ...  idade  diabetico
0             6      148  ...     50          1
1             1       85  ...     31          0
2             8      183  ...     32          1
3             1       89  ...     21          0
4             0      137  ...     33          1
..          ...      ...  ...    ...        ...
763          10      101  ...     63          0
764           2      122  ...     27          0
765           5      121  ...     30          0
766           1      126  ...     47          1
767           1       93  ...     23          0

[768 rows x 9 columns]>